body {
  background-color: #ffeeff;
}

.title {
  font-size: 700;
}

.half {
  width: 50%;
}

.tile {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.section {
  padding: 0;
}

.categories {
  margin-top: 1%;
}

.has-background-lighter-pink {
  background-color: #f237d90f;
}

.to-bottom {
  flex: 1;
}

.react-datalist-input__textbox {
  background-color: #ffeeff;
}

.react-datalist-input__container {
  width:50%;
}

.css-1oqqzyl-MuiContainer-root {
  padding-left: 0;
  padding-right: 0;
}

.characters-container {
  margin: auto;
}

.no-padding-vertical {
  padding-top: 0;
  padding-bottom: 10px;
}

.name-correct {
  background-color: rgb(72, 176, 72);
}

.correct {
  background-color: rgb(7, 176, 7);
}

.almost-correct {
  background-color: yellow;
}

.wrong {
  background-color: #f237d90a;
}

.guess-border {
  border-top: 2px black;
}
